requests
beautifulsoup4
pypdfium2
pillow
pyocr
opencv-python
pandas
scikit-learn
scikit-image
openpyxl
transformers[torch]
timm
langchain 
openai 
chromadb 
tiktoken
python-dotenv
unstructured
Cython
pypdf
tabulate